* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
}
    
body {
  font-family: Arial, Helvetica, sans-serif, "Montserrat";
  align-items: center;
} 

#container {
  min-height: 100%;
  height: 100%;
}

#main {
  overflow: auto;
  position: relative;
  padding-bottom: 100px;
}

.footer {
  margin-bottom: 0%;
  font-weight: bold;
  position: relative;
  height: 100px;
  width: 100%;
  /* margin-top: -100px;  */
  clear: both;
  font-size: 2.625vh;
  text-align: center;
  color: #134f5c;
  background-color: rgba(212, 27, 52, 0.5);
}
    
.footer:hover {
  color: #466bab;
}

.header {
  overflow: hidden;
  padding: 20px 20px;
  margin-right: 2.5%;
  background: transparent;
}
    
.header .logo {
  float: left;
  align-content: center;
  border-radius: 100%;
  background-color: rgba(252, 252, 252, 0);
  align-content: center;
  margin-left: 1.5%;
  margin-top: -10px;
}

.image {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin: 0;
}
   
.header .logo:hover {
  border-radius: 50%;
  background-color: rgba(233, 161, 161, 0.521);
}


.header-right{
  float: right;
  /* margin-right: 0.5%; */
}

.header-right a{
  display: inline-block;
  margin-left: 5px;
  width: 2in;
  border-style: solid;
  border-color: #ea9999;
  border-width: 1px;
  background-color: #f4cccc98;
  color: #0b5394;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  line-height: 15px;
  border-radius: 25px;
  font-weight: bold;
  font-family: "Montserrat";
}

.header-right a:hover {
  background-color: #ea9999;
  color: #0b54947e;
}

.header-right a.active {
  background-color: #0b5394;
  color: #f4cccc98;
}
    
@media screen and (max-width: 500px) {
  

  .header .logo{
    float: inline-start;
    display: block;
    margin-left: 37.5%;
    /* text-align: center; */
  }
     
  .header-right{
    float: none;
    margin-top: 80px;
    margin-left: unset;
    margin-right: unset;
  }

  .header-right a{
    /* float: none; */
    display: block;
    width: 90%;
    margin-top: 10px;
    text-align: center;
  }

}


